$conf{'backup_source'} = "/home/user/myfiles/";
$conf{'backup_dest'} = 'b00000@hanjin.dreamhost.com:backup';

# To exclude files from your backup, set the following to a file containing
# your exclude rules
# For more info check `man rsync`, specifically the '--exclude-from=' parameter
#
# $conf{'exclude_filter'} = '/home/user/.backup-exclude-rsync';

$conf{'private_key'} = "/home/user/.ssh/id_rsa";

$conf{'rsync_path'} = '/usr/bin/rsync';
$conf{'sftp_path'} = '/usr/bin/sftp';
$conf{'nice_path'} = '/usr/bin/nice';

return 1;
